# Eclipse

.classpath

.project

.settings/



# Intellij

.idea/*
.iml*
.iws
*.iml
Rent-Android/.gradle
Rent-Android/local.properties
Rent-Android/.idea
Rent-Android/.DS_Store
Rent-Android/build
Rent-Android/captures
Rent-Android/.externalNativeBuild




# Mac

.DS_Store



# Maven

log/
target/



#Logs

Rent/logs