# Eclipse

.classpath

.project

.settings/



# Intellij

.idea/
*
.iml
*
.iws


Rent-Android/
Rent-Android/local.properties
Rent-Android/.idea/libraries
Rent-Android/.DS_Store
Rent-Android/build
Rent-Android/captures
Rent-Android/.externalNativeBuild


# Mac
.DS_Store

# Maven
log/
target/

#Logs
Rent/logs